.contato-content{
    display:flex;
    flex-direction:column;
    margin-left:10%;
    margin-bottom: 100px; 
}


.mapa-text{
    margin-left: 50px;
    font-size: 17.6px;
    
}

.mapa-text p{

    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .mapa {
        margin-left:  0px;
        width: 100%;
        

    }
}

@media screen and (max-width: 768px) {
    .mapa-text{
    
            flex-direction:column;
        }

    
}