
footer{
    background-color: var(--background-green) ;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    width: 1200px;
    color: #fff;
    margin-bottom: 50px;
}

.footer{

    justify-content: right;
    display: flex;

    
}